* {
  margin: 0%;
  padding: 0%;
}

html,
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
}

main {
  position: relative;
  height: 100vh;
  width: 100%;

  .image_container {
    height: 100%;
    width: 100%;
    position: absolute;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .burger {
      position: absolute;
      top: 20%;
      left: 12%;
      right: 0%;
      bottom: 0%;
    }
    .tomato1 {
      position: absolute;
      top: 34%;
      left: 88%;
    }
    .tomato2 {
      position: absolute;
      top: 60%;
      left: 13%;
    }
    .pizza {
      position: absolute;
      top: 46%;
      left: 67%;
    }
    .momo {
      position: absolute;
      left: 67%;
      top: 0%;
    }
    .leaf {
      position: absolute;
      top: 11%;
      left: 27%;
    }

    .text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;

        h1{
            font-size: 64px;
            line-height: 60px;
            margin-bottom: 40px;
            text-align: center;
            color: red;

        }

        p{
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            margin: 0% auto;
            max-width: 500px;
        }

    }
  }
}
